@{
    ViewData["Title"] = "Antrenörler";
}

<div class="page-header">
    <h2><i class="bi bi-person-badge"></i> Antrenörler</h2>
</div>

<div class="page-content">
    <h3>Hoşgeldin Antrenörler Sayfası</h3>
</div>

